<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All Users</title>
</head>
<body>
    <form action="#" th:action="@{/createMathTabulatedFunction}" th:object="${mathFunction}" method="post">
        <p>Enter x value to start from:
            <input type="number" th:field="*{xFrom}" /></p>
        <p>Enter x value to end with:
            <input type="number" th:field="*{xTo}" /></p>
        <p>Enter size of function:
            <input type="number" th:field="*{size}" /></p>
        <p>Select function</p>
            <select  th:field = "*{function}" >
                <option th:each="func : ${functions}"
                        th:value="${func.key}"
                        th:text="${func.key}">
                </option>
            </select>
        <input name = "submit" type="submit" value="Submit"  />
        <p th:text="${message}"></p>
    </form>
</body>
</html>