
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

  <meta charset="UTF-8">
  <title>Calculator</title>
</head>
<body>
<form style = "display: flex;flex-direction: row;" th:action="@{/differentiate}" method="post" th:object="${differentiateComponent}">
    <div style = "display: flex;flex-direction: column;">

        <div >
            <div style = "display:flex;flex-direction: row">
                <div >X</div>
                <div >Y</div>
            </div>
            <div style="display:flex;flex-direction: row" th:each = "i: ${#numbers.sequence(0,differentiateComponent.oper.getCount()-1,1)}">
                <div th:text = "${differentiateComponent.oper.getX(i)}"></div>
                <div th:text = "${differentiateComponent.oper.getY(i)}"></div>
            </div>
        </div>


        <div style = "display: flex;flex-direction: column;">
            <button name = "createFirstFuncTab">Create Tabulated</button>
            <button name = "createFirstFuncMath">Create Math</button>
            <button name = "saveFirstFunc">Save</button>
            <button name = "insertFirstFuncMath">Insert</button>
        </div>
    </div>
    <div>
        =
    </div>

    <div >
        <div style = "display:flex;flex-direction: row">
            <div >X</div>
            <div >Y</div>
        </div>
        <div style="display:flex;flex-direction: row" th:each = "i: ${#numbers.sequence(0,differentiateComponent.result.getCount()-1,1)}">

            <div th:text = "${differentiateComponent.result.getX(i)}"></div>
            <div th:text = "${differentiateComponent.result.getY(i)}"></div>
        </div>
    </div>
  <button type="submit" name="submit">Perform</button>

</form>

</body>
</html>